# Importing pandas

In [1]:
import pandas as pd

# Creating empty dataframe

In [2]:
empty = pd.DataFrame()
print(empty)

Empty DataFrame
Columns: []
Index: []

# Creating dataframe from list

In [3]:
list = ['a', 'b', 'c']
print(list)

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c

In [5]:
#We can also inline print that command just using that variable name without using print function.
df1

   0
0  a
1  b
2  c

# Creating dataframe from list of list

In [6]:
list_of_list = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
print(list_of_list)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [7]:
df2 = pd.DataFrame(list_of_list)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

# Creating dataframe from python dictionary

In [8]:
dic = {'ID': [101, 102, 103, 104, 105], 'CGPA': [4.00, 3.50, 3.00, 2.50, 2.00]}
print(dic)

{'ID': [101, 102, 103, 104, 105], 'CGPA': [4.0, 3.5, 3.0, 2.5, 2.0]}

In [9]:
df3 = pd.DataFrame(dic)
df3

    ID  CGPA
0  101   4.0
1  102   3.5
2  103   3.0
3  104   2.5
4  105   2.0

# Creating dataframe from list of dictionary

In [10]:
list_of_dic = [{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5}]
print(list_of_dic)

[{'a': 1, 'b': 2, 'c': 3}, {'a': 4, 'b': 5}]

In [11]:
df4 = pd.DataFrame(list_of_dic)
df4

   a  b    c
0  1  2  3.0
1  4  5  NaN

# Creating dataframe from dictionary of series

In [12]:
dic_series = {'ID': pd.Series([1,2,3]), 'CGPA': pd.Series([4.00, 4.00, 4.00])}

In [13]:
df5 = pd.DataFrame(dic_series)
df5

   ID  CGPA
0   1   4.0
1   2   4.0
2   3   4.0