# Importing pandas

In [1]:
import pandas as pd

In [2]:
#checking version
pd.__version__

'1.4.1'

# Creating series from list

In [3]:
list1 = [1 ,2 ,3 ,'pandas']
print(list1)

[1, 2, 3, 'pandas']

In [4]:
series1 = pd.Series(list1)
print(series1)

0         1
1         2
2         3
3    pandas
dtype: object

In [5]:
#checking datatype of the series
type(series1)

pandas.core.series.Series

# Creating Empty Series

In [6]:
empty = pd.Series([], dtype = float)
print(empty)

Series([], dtype: float64)

# Creating Series using a different method

In [7]:
series2 = pd.Series([1, 2, 3, 4, 5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
#self indexing for series
series2 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
#changing datatype of the series
series2 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

# Creating series from scalar values

In [10]:
series3 = pd.Series(10)
print(series3)

0    10
dtype: int64

In [11]:
#for more data values index should be needed.
series3 = pd.Series(10, index = [1, 2, 3, 4, 5])
print(series3)

1    10
2    10
3    10
4    10
5    10
dtype: int64

# Creating series from python dictionary

In [12]:
series4 = pd.Series({'a':1, 'b':2, 'c':3})
print(series4)

a    1
b    2
c    3
dtype: int64

## Accessing element from series

In [13]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [14]:
series2[1]

2.0

In [15]:
series2[4]

5.0

## Slicing series

In [16]:
series2[1: 4]

b    2.0
c    3.0
d    4.0
dtype: float64

## Adding two serieses

In [17]:
series5 = pd.Series([1,2,3,4,5])
series6 = pd.Series([1,2,3,4,5])
a = series5 + series6

In [18]:
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
#we can also add series using add method
series5.add(series6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

## maximum and minimum values

In [20]:
min(a)

2

In [21]:
max(a)

10

## Conditional operator

In [22]:
a[a < 8]

0    2
1    4
2    6
dtype: int64

In [23]:
#Using drop() function we can eliminate any index value
a.drop(2)

0     2
1     4
3     8
4    10
dtype: int64

In [24]:
series7 = pd.Series([1,2,3,4,5])
series8 = pd.Series([1,2,3])

In [25]:
#Missing values are shown by NaN
series7 + series8

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64